<div class="container con-tab">
      <div class="row">
         <div class="tabs">
            <ul class="nav nav-tabs">
               <li><a href="#tab-1" data-toggle="tab">Academic Calendar</a></li>
               <li class="active"><a href="#tab-2" data-toggle="tab">Schedule of Lectures</a></li>
               <li><a href="#tab-3" data-toggle="tab">Exam Schedules</a></li>
               <li><a href="#tab-4" data-toggle="tab">LAB Schedules</a></li>
            </ul>
            <div class="tab-content">
               <div class="tab-pane fade" id="tab-1">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil tempore, quam corporis natus nobis sed voluptates laboriosam mollitia officiis voluptatem. Odit assumenda animi natus nemo ut ipsa molestiae repellat aut.</p>
               </div>
               <div class="tab-pane fade in active" id="tab-2">
                  <iframe width="1330" height="1220" frameborder="0" src="https://docs.google.com/spreadsheets/d/1bUVQTZo9ecq7GHSVKKsqKctbwGkfD9CFYGJnQY2eyVg/pubhtml?gid=96985834&amp;single=true">
                  </iframe>
               </div>
               <div class="tab-pane fade" id="tab-3"><br>
                  <div id="accordion" class="panel-group">
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-1" data-parent="#accordion" data-toggle="collapse">Midterm Schedule</a>
                           </h4>
                        </div>
                        <div id="collapse-1" class="panel-collapse collapse">
                           <div class="panel-body">
                              <iframe width="1000" height="1400" frameborder="0"
                              src="https://docs.google.com/spreadsheets/d/1uL4TB2F0i5muntvv7547D_UFJTR4LElhtu9WO9-ZN6s/pubhtml?gid=1194230290&amp;single=true">
                              </iframe>
                           </div>
                        </div>
                     </div>
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-2" data-parent="#accordion" data-toggle="collapse">Final Schedule</a>
                           </h4>
                        </div>
                        <div id="collapse-2" class="panel-collapse collapse">
                           <div class="panel-body">
                              <iframe width="1250" height="1800" frameborder="0"
                              src="https://docs.google.com/spreadsheets/d/1mUEQX5Cm29G8aWU35FR5tZRrocPF8MtM8cDVXFNGHEY/pubhtml?gid=1798992229&amp;single=true">
                              </iframe>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="tab-4"><br>
                  <div id="accordion" class="panel-group">
                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-6" data-parent="#accordion" data-toggle="collapse">LAB-1</a>
                           </h4>
                        </div>
                        <div id="collapse-6" class="panel-collapse collapse">
                           <div class="panel-body">
                              <iframe width="100%" height="550" frameborder="0"
                              src="https://docs.google.com/spreadsheet/pub?key=0Auzt1p4AYrNndG1HcU9YWWh3RjNlcU9xOGxNakxybHc&amp;output=html&amp;widget=true">
                              </iframe>
                           </div>
                        </div>
                     </div>

                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-7" data-parent="#accordion" data-toggle="collapse">LAB-2</a>
                           </h4>
                        </div>
                        <div id="collapse-7" class="panel-collapse collapse">
                           <div class="panel-body" >
                              <iframe width="100%" height="550" frameborder="0"
                              src="https://docs.google.com/spreadsheet/pub?key=0AsLy3c_R3v9edFZscG1obmYxd1l3S3hndDFpX3Y2SXc&amp;single=true&amp;gid=3&amp;output=html">
                              </iframe>
                           </div>
                        </div>
                     </div>


                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-8" data-parent="#accordion" data-toggle="collapse">LAB-3</a>
                           </h4>
                        </div>
                        <div id="collapse-8" class="panel-collapse collapse">
                           <div class="panel-body" >
                              <iframe width="100%" height="600" frameborder="0"
                              src="https://docs.google.com/spreadsheet/pub?key=0AsLy3c_R3v9edFZscG1obmYxd1l3S3hndDFpX3Y2SXc&amp;single=true&amp;gid=2&amp;output=html">
                              </iframe>
                           </div>
                        </div>
                     </div>


                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-9" data-parent="#accordion" data-toggle="collapse">LAB-4</a>
                           </h4>
                        </div>
                        <div id="collapse-9" class="panel-collapse collapse">
                           <div class="panel-body" >
                              <iframe width="100%" height="600" frameborder="0"
                              src="https://docs.google.com/spreadsheet/pub?key=0AsLy3c_R3v9edFZscG1obmYxd1l3S3hndDFpX3Y2SXc&amp;single=true&amp;gid=7&amp;output=html">
                              </iframe>
                           </div>
                        </div>
                     </div>


                     <div class="panel panel-info">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <a href="#collapse-5" data-parent="#accordion" data-toggle="collapse">Smart class</a>
                           </h4>
                        </div>
                        <div id="collapse-5" class="panel-collapse collapse">
                           <div class="panel-body" >
                              <iframe width="100%" height="550" frameborder="0"
                              src="https://docs.google.com/spreadsheet/pub?key=0AsLy3c_R3v9edFZscG1obmYxd1l3S3hndDFpX3Y2SXc&amp;single=true&amp;gid=6&amp;output=html">
                              </iframe>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
