    <div id="main">
    <div class="container clearfix">
      <div id="main-content-wrapper">
        <div id="upper-main-content">

                        </div>
        <div id="first-content-wrapper" class="clearfix">
          <div id="content" role="main">
		                                  <div class="tabs"></div>
                                          <div class="region region-content">
    <div id="block-system-main" class="block block-system">

  <div class="content">

<div class="field field-name-body field-type-text-with-summary field-label-hidden">
    <div class="field-items">
      <h1>Program Objectives</h1>
          <div class="field-item even" property="content:encoded"><h3><strong>Constituencies</strong></h3>
<p>The program recognizes three constituencies: </p>
<p>           1. Students enrolled in the Bachelor's degree program in Computer Science, University of Georgia;</p>
<p>           2. Students who have completed this degree and are now either pursuing graduate study or a career;</p>
<p>           3. Corporations, individuals, and commercial enterprises who hire graduates of the program.</p>
<h3>
Program Educational Objectives</h3>
<p>The Bachelor of Science in Computer Science (BS-CS) degree has the following program educational objectives:</p>
<p class="rteindent1">1. Graduates will be successfully employed in the computing profession or will be actively pursuing advanced degrees in computing or a related discipline<br />
2. Graduates will have a thorough grounding in the principles and practices of computing, and be properly prepared to engage in further learning<br />
3. Graduates will have an appreciation and understanding of social issues, enabling them to be responsible members of their profession and informed citizens</p>
<h3>
Student Outcomes (a - k)</h3>
<p>Students who successfully meet the BS-CS program requirements will demonstrate the following student outcomes:</p>
<p class="rteindent1">a. An ability to analyze a problem, and identify and define the computing requirements appropriate to its solution;<br />
b. An ability to design, implement and evaluate a computer-based system, process, component, or program to meet desired needs;<br />
c. An ability to apply knowledge of computing and mathematics appropriate to the discipline;<br />
d. An ability to function effectively on teams to accomplish a common goal;<br />
e. An understanding of professional, ethical, legal, security, and social issues and responsibilities;<br />
f. An ability to communicate effectively with a range of audiences;<br />
g. An ability to analyze the local and global impact of computing on individuals, organizations and society;<br />
h. Recognition of the need for, and an ability to engage in, continuing professional development;<br />
i. An ability to use current techniques, skills, and tools necessary for computing practices.<br />
j. An ability to apply mathematical foundations, algorithmic principles, and computer science theory in the modeling and design of computer-based systems in a way that demonstrates comprehension of the tradeoffs involved in design choices;<br />
k. An ability to apply design and development principles in the construction of software systems of varying complexity.</p>
<p>
<a href="/sites/default/files/slides/PEO-Policy.pdf">Policy and Procedure</a> for the Periodic Review and Revision of Program Educational Objectives and Student Outcomes.</p>
</div>
      </div>
</div>
  </div> <!-- /.content -->

</div> <!-- /.block -->
  </div>
                    </div>
                  </div>

            <a name="discover_menu"></a>

      <aside id="sidebar-second" role="complementary" class="sidebar">
      <a name="discover_menu"></a>
      <a class="top_button" href="#top">Back to Top</a>
        <div class="region region-sidebar-second">
    <section id="block-menu-menu-audience-menu" class="block block-menu">

</section> <!-- /.block -->
  </div>


      </aside>
          </div>
  </div> <!--main-->
