<h1>Academics#undergradute_program</h1>
<p>Find me in app/views/academics/undergradute_program.html.erb</p>



<section class="container">
               <section id="content-main">
                   <h1>Undergraduate Programs</h1>
                   <p class="intro">This section of the Calendar provides general information for undergraduate students and descriptions of the undergraduate programs offered by AIU's faculties:</p>
                   <table style="width:100%">
                     <div class="panel panel-info">
                       <tr>
                           <td>
                           <h3>Undergraduate Programs</h3>

                             <p><a href="#collapse-1" data-parent="#accordion" data-toggle="collapse">Faculty of New Technologies</a></p>
                             <div id="collapse-1" class="panel-collapse collapse">
                               <div class="panel-body">
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                               </div>
                             </div>

                               <p><a href="#collapse-2" data-parent="#accordion" data-toggle="collapse">Faculty of Economics and Administrative Sciences</a></p>
                               <div id="collapse-2" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>

                               <p><a href="#collapse-4" data-parent="#accordion" data-toggle="collapse">Faculty of Medicine</a></p>
                               <div id="collapse-4" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>

                               <p><a href="#collapse-5" data-parent="#accordion" data-toggle="collapse">Faculty of Humanities</a></p>
                               <div id="collapse-5" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>

                               <p><a href="#collapse-6" data-parent="#accordion" data-toggle="collapse">Faculty of Law</a></p>
                               <div id="collapse-6" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>

                               <p><a href="#collapse-7" data-parent="#accordion" data-toggle="collapse">Faculty of Science</a></p>
                               <div id="collapse-7" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>

                               <p><a href="#collapse-8" data-parent="#accordion" data-toggle="collapse">Faculty of Social Sciences</a></p>
                               <div id="collapse-8" class="panel-collapse collapse">
                                 <div class="panel-body">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                 </div>
                               </div>
                            </td>
                       </tr>
                    </div>
                   </table>
                   <p>Graduate degree programs offered by these faculties are administered by the Faculty of Graduate Studies. Click on <a href="../grad/index.html">Graduate Studies</a> in the navigation bar above to learn more about specific graduate programs.</p>
               </section>
           </section>
