<div class="container" style ="margin-top:7%;">
				<h2 class="public-page-heading" style ="text-align:center;">International Exchange
				</h2>

				<div class="public-page-article"><h4>&nbsp; <span style="color:#000000"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">Ala -Too International University (AIU) maintains contact with many higher educational institutions and scientific organizations of foreign countries. The University&#39;s permanent partners are the leading universities of the USA, Italy, Kazakhstan, China, South Korea, Poland, Malaysia and many other countries. The University conducts educational, scientific, cultural activities with 82 universities in the near and far abroad. Among them, we actively cooperate with 46 universities, cooperation was terminated with the rest 36 universities because of the expiry of the contracts and some universities were closed.</span></span></span></h4>

<h4><span style="color:#000000"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;Teachers from the USA, China, Malaysia and other partner countries are invited annually to read the lectures, special courses and just for teaching. In turn, teachers and students pass language and scientific-pedagogical internships and improve their qualifications in foreign countries.</span></span></span></h4>

<h4><span style="color:#000000"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;In recent years, international mobility of our university students and teachers has increased. In 2008-2017 years, 190 students and 63 teachers have been sent to foreign universities within the framework of exchange programs.</span></span></span></h4>

<h4><span style="color:#000000"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;In the MUA in the 2014-2017 academic year, foreign students number about 120 people (China, Turkey, Kazakhstan, Afghanistan, Germany, South Korea, Nigeria, Pakistan, etc.).</span></span></span></h4>

<h4><span style="color:#000000"><span style="font-size:14px"><span style="font-family:arial,helvetica,sans-serif">&nbsp;Since 2015, Office of International Relation has been actively involved in the implementation of the Erasmus Munduz exchange program in higher education. The program provides an opportunity for students and teachers to study free at European universities with a monthly scholarship payment.</span></span></span></h4>
</div>
</div>
