<div class="container">
  <div id="carousel" class="carousel slide con-car">
     <!--Индикаторы слайдов-->
     <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
     </ol>
     <!--Слайды-->
     <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("image3.jpg", class: "carousel_slider") %>
        </div>
        <div class="item">
             <%= image_tag("image2.jpg", class: "carousel_slider") %>
        </div>
        <div class="item">

          <%= image_tag("image4.jpg", class: "carousel_slider") %>
        </div>
     </div>
     <!--Стрелки переключения слайдов-->
     <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
     </a>
     <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
     </a>
  </div>
</div>

<div class="container content">
   <div class="row row-content">
     <h3>What is Computer Science?</h3>
   <div class="col-xs-10 col-sm-8 col-md-4 col-lg-5">
          Computers and the Internet are having a great impact on human life and on society. Our lives, starting in the second half of the twentieth century, have become computerized "at the speed of light." We now live in times referred to as the computer age, the information age, or the Internet age. The Computer Engineering Department offers a unique opportunity for bright young minds to excel themselves in the areas of computer science, computer software, and computer hardware.
          Students begin with the introductory courses in procedural and object oriented programming and algorithm design that lay the foundations for the vital intermediate subjects such as data structures and algorithm analysis, operating systems, programming languages, data bases and computer networks, and the Internet. Students also take courses in math, science, and engineering in order to prepare themselves for the more challenging course work and projects ahead.
     </div>
     <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 par-content"></div>
     <div class="col-xs-10 col-sm-8 col-md-4 col-lg-5">
        In their third, fourth and fifth years, students have the opportunity to take courses on specific and advanced subjects in the Computer Engineering Department and in other engineering department. In the fifth year, students also take the senior design project that give them the opportunity to take on a large challenging project similar to the projects they encounter in the real life environment.
        The faculty members in the Department believe that neither theory nor practice alone is enough in teaching computer science and engineering. Therefore, courses based on a balance of theory and practice is set up so that students gain a thorough understanding of the subjects in the Department. In order to provide practical experience for our students, our department is equipped with four teaching and two electronics laboratories. Students use these labs extensively during their four years of study for their assignments, projects, research, and for fun!
     </div>
  </div>
</div>
</div>
