<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Computer Science Department</title>
    <link rel="shortcut icon" href="../../images/CS.jpg">

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

     <div class="navbar navbar-default navbar-fixed-top">
      <div class ="csd-text">
      <div class ="container row-content">
        <div class="col-md-1" style ="">
           <a href ="#"><img class="logo" src="../../images/Belek.png" alt="" height="90px" width="200px"></a>
        </div>
        <div class="col-md-7" style =""></div>
        <div class="col-md-4" style ="">
          <div class ="row" style ="margin-top: 17%;">
            <div class ="col-md-6 text-right"><a style ="color:white;" href ="tel:996312631425"><i class="fa fa-phone"></i>+996 (312) 63 14 25</a></div>
            <div class ="col-md-6 text-right"><a style ="color:white; float-right" href ="#"><i class="fa fa-envelope"></i> cs@iaau.edu.kg</a></div>
          </div>
        </div>
      </div>
      </div>

          <div class="container">

             <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                     <span class="sr-only">Открыть навигацию</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="../../index.html"><i class="fa fa-gg fa-lg" aria-hidden="true"></i> CS</a>
             </div>
             <div class="collapse navbar-collapse" id="responsive-menu">
                 <ul class="nav navbar-nav">
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Academics <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="../Academics/UndergraduateProgram.html"><i aria-hidden="true"></i> Undergraduate Program</a></li>
                          <li class="divider"></li>
                          <li><a href="../Academics/GraduateProgram.html"><i aria-hidden="true"></i> Graduate Program</a></li>
                          <li class="divider"></li>
                          <li><a href="../Academics/Courses.html"><i aria-hidden="true"></i> Courses</a></li>
                          <li class="divider"></li>
                          <li><a href="../Academics/ProgramObjectives.html"><i aria-hidden="true"></i> Program Objectives</a></li>
                          <li class="divider"></li>
                          <li><a href="../Academics/Calendar.html"><i aria-hidden="true"></i> Calendar</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Faculty & Research <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="../FacultyResearch/GraduateResearch.html"><i aria-hidden="true"></i> Graduate Research</a></li>
                          <li class="divider"></li>
                          <li><a href="../FacultyResearch/ResearchInterests.html"><i aria-hidden="true"></i> Research Interests</a></li>
                          <li class="divider"></li>
                          <li><a href="../FacultyResearch/CentersInitiatives.html"><i aria-hidden="true"></i> Centers & Initiatives</a></li>
                          <li class="divider"></li>
                          <li><a href="../FacultyResearch/UndergraduateResearch.html"><i aria-hidden="true"></i> Undergraduate Research</a></li>
                          <li class="divider"></li>
                          <li><a href="../FacultyResearch/Masterworks.html"><i aria-hidden="true"></i> Masterworks</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admission <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="../Admission/MasterDegree.html"><i aria-hidden="true"></i> Master Degree</a></li>
                          <li class="divider"></li>
                          <li><a href="../Admission/BachelorDegree.html"><i aria-hidden="true"></i> Bachelor Degree</a></li>
                          <li class="divider"></li>
                          <li><a href="../Admission/College.html"><i aria-hidden="true"></i> College</a></li>
                          <li class="divider"></li>
                          <li><a href="../Admission/TutionFee.html"><i aria-hidden="true"></i> Tution Fee</a></li>
                          <li class="divider"></li>
                          <li><a href="../Admission/ExchangeProgram.html"><i aria-hidden="true"></i> Exchange Program</a></li>
                          <li class="divider"></li>
                          <li><a href="../Admission/ForeignStudents.html"><i aria-hidden="true"></i> Foreign Students</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="../People/FucultyAdvisors.html"><i aria-hidden="true"></i> Fuculty & Advisors</a></li>
                          <li class="divider"></li>
                          <li><a href="../People/Alumni.html"><i aria-hidden="true"></i> Alumni</a></li>
                          <li class="divider"></li>
                          <li><a href="../People/StudentsGroups.html"><i aria-hidden="true"></i> Students Groups</a></li>
                          <li class="divider"></li>
                          <li><a href="../People/Lecturers.html"><i aria-hidden="true"></i> Lecturers</a></li>
                          <li class="divider"></li>
                          <li><a href="../People/ProspectiveStudents.html"><i aria-hidden="true"></i> Prospective Students</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">Offices & Services <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="AcademicPrograms.html"><i aria-hidden="true"></i> Academic Programs</a></li>
                          <li class="divider"></li>
                          <li><a href="HumanResource.html"><i aria-hidden="true"></i> Human Resource</a></li>
                          <li class="divider"></li>
                          <li><a href="OfficeOfDean.html"><i aria-hidden="true"></i> Office of Dean</a></li>
                          <li class="divider"></li>
                          <li><a href="Exchange.html"><i aria-hidden="true"></i> Exchange</a></li>
                          <li class="divider"></li>
                          <li><a href="Contacts.html"><i aria-hidden="true"></i> Contacts</a></li>
                       </ul>
                    </li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">News & Events <b class="caret"></b></a>
                       <ul class="dropdown-menu">
                          <li><a href="../NewsEvents/CalendarsColloquia.html"><i aria-hidden="true"></i> Calendars & Colloquia</a></li>
                          <li class="divider"></li>
                          <li><a href="../NewsEvents/ForMedia.html"><i aria-hidden="true"></i> For the Media</a></li>
                          <li class="divider"></li>
                          <li><a href="../NewsEvents/Announcements.html"><i aria-hidden="true"></i> Announcements</a></li>
                       </ul>
                    </li>
                 </ul>
                 <div class="services" style ="margin-right:1.15%;">
                    <form lang="en" action="" class="navbar-right">
                      <a href="#" class="lang-btn" onclick="changeLang('en')" >EN</a>
                       <a href="#" class="lang-btn" onclick="changeLang('ru')" >RU</a>
                    </form>
                 </div>
             </div>
         </div>
     </div>

     <div class="container content" style ="background-color:ghostwhite;">
        <div style ="margin-left: auto;margin-right: auto;width:23em;" >
          <h1>Computer Science</h1>
          <p style ="font-size:21px; margin-top:-3%">Faculty of New Technologies</p>
          <p style ="font-size:21px; margin-top:-3.5%;"> Alatoo International University</p>
        </div>

        <div class="row row-content">
          <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        		<h3 style = "text-align:center;">How to find us?</h3>
              <a href="https://www.google.com/maps/preview#!q=International+atatturk-alatoo+university&amp;data=!1m4!1m3!1d3043!2d74.6770603!3d42.8566471!4m15!2m14!1m13!1s0x389eb6c95311ea6b%3A0x7023946675e4c5a9!3m8!1m3!1d25326278!2d44.4705977!3d41.8576238!3m2!1i1440!2i799!4f13.1!4m2!3d42.85588!4d74.680874" target="_blank"><img alt="MapMap" src="http://iaau.edu.kg/image?img=image_karta_8016442713758413155.png" style="border-style:solid; border-width:1px; float:left; height:244px; margin:10px; width:310px"></a>
          </div>
                  <!-- <p>&nbsp;</p> -->
          <div class ="col-xs-12 col-sm-12 col-md-8 col-lg-8" style ="margin-top:5.5%;">
            <span style=""><span class ="fa fa-map-marker" style="font-size:20px;">  Ankara 1/8 st, Tunguch, 720048, Bishkek, Kyrgyz Republic</span></span><br>
            <span style="font-family:georgia"><span class ="fa fa-phone" style="font-size:20px"> Tel:  +996 (312) 63-14-25 </span></span><br>
            <span style="font-family:georgia"><span class = "fa fa-envelope" style="font-size:20px">  E-mail: <a href="cs@iaau.edu.kg" style="color: rgb(85, 26, 139); font-family: Georgia, 'Times New Roman';">cs@iaau.edu.kg</a></span></span>

            <h3>How to get to us?</h3>
                <img src ="../../images/mini-bus.png" style ="width:30px;height:23px"><span class ="fa fa" style="font-size:20px;"> Micro-Buses: 102, 105, 128, 137, 147, 154, 166, 262</span><br>
                <img src ="../../images/buss.png" style ="width:30px;height:24px"><span class ="fa fa" style="font-size:20px;"> Buses: 7</span><br>
                <img src ="../../images/Trolleybuss.png" style ="width:30px;height:24px"><span class ="fa fa" style="font-size:20px;"> Trolleybuses: 5, 7</span>
          </div>
			  </div>
     </div>

     <footer class="footer">
        <div class="container">
           <div class="row">
              <div>
                <span>
                   <p class="footer-text text-center"><i class="fa fa-copyright" aria-hidden="true"></i> Computer Science / Faculty of New Technologies / Alatoo International University &nbsp;<img src="../../images/AIU-logo.png" tab="photo" style="margin-top:-0.7%;" height="35px" width="35px"></p>
                </span>

              </div>
<!--               <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <img src="../../images/AIU-logo.png" tab="photo" style="margin-top:2.5%;" height="35px" width="35px">
              </div> -->
           </div>
        </div>
     </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/jquery-3.1.1.js"></script>
    <script src="../../js/script.js"></script>
	<script src="../../js/functions.js"></script>
  </body>
</html>
