
		<div class="container" style ="margin-top:7%;">

				<h2 class="public-page-heading">Undergraduate – Bachelor Tuition fees for 2018-2019 academic years
				</h2>

				<div class="public-page-article"><h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Faculty of New Technologies</strong></span></span></h4>

<div dir="ltr" style="margin-left:0pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Department</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Education Language</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of &nbsp;the &nbsp;KG</span><strong> (Language Preparation School)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of &nbsp;the &nbsp;KG(</span><strong>1,2,3,4th courses)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For foreigners</span><strong> (Language Preparation school,1,2,3,4th courses)</strong></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://com.iaau.edu.kg" style="text-decoration:none;"><u>Computer Science</u></a></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,800 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://electronic.iaau.edu.kg/" style="text-decoration:none;"><u>Electronics and Microelectronics Engineering</u></a></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://mat.iaau.edu.kg/" style="text-decoration:none;"><u>Applied Mathematics</u></a></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,100 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://ie.iaau.edu.kg/" style="text-decoration-line: none;"><u>Industrial Engineering</u></a></span></span></h4>
			</td>
			<td style="text-align:center; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="text-align:center; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="text-align:center; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="text-align:center; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
	</tbody>
</table>
</div>

<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>&nbsp;</strong><strong>Faculty of Economic and Administrative Sciences</strong></span></span></h4>

<div dir="ltr" style="margin-left:0pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Department</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Education Language</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of &nbsp;the &nbsp;KG</span><strong> (Language Preparation School)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of the KG(</span><strong>1,2,3,4th courses)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For foreigners</span><strong> (Language Preparation school,1,2,3,4th courses)</strong></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)"><a href="http://economy.iaau.edu.kg/" style="text-decoration-line: none;">Economy</a>&nbsp;(</span><span style="background-color:transparent; color:rgb(0, 0, 0)"><a href="http://economy.iaau.edu.kg/" style="text-decoration: none;">World Economy</a>)</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://international.iaau.edu.kg/" style="text-decoration:none;"><u>International Relations</u></a></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,800 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://management.iaau.edu.kg/" style="text-decoration:none;"><u>Management</u></a></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,800 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)"><a href="http://economy.iaau.edu.kg/" style="text-decoration-line: none;">Economy</a>&nbsp;</span><u>(<a href="http://fin.iaau.edu.kg/" style="text-decoration:none;">Finance and Banking</a>)</u></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,800 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://law.iaau.edu.kg/" style="text-decoration:none;"><u>Law</u></a></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px">Accounting and audit</span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,800 $</span></span></span></h4>
			</td>
			<td style="background-color:#ffffff; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
	</tbody>
</table>
</div>

<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>&nbsp;</strong><strong>Faculty of Social Sciences</strong></span></span></h4>

<div dir="ltr" style="margin-left:-0.4pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Department</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Education Language</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens &nbsp;of the &nbsp;KG</span><strong> (Language Preparation School)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of the KG(</span><strong>1,2,3,4th courses)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For foreigners</span><strong> (Language Preparation school,1,2,3,4th courses)</strong></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4><span style="color:#000000"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Philology (Turkish Language and Literature)</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">TR</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center">&nbsp;</h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4><span style="color:#000000"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">Linguistics (Chinese Language)&nbsp;&nbsp;</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">CHN</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center">&nbsp;</h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,400 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="color:#000000"><span style="background-color:rgb(255, 255, 255)">Linguistics (</span><span style="background-color:rgb(255, 255, 255)">English</span><span style="background-color:rgb(255, 255, 255)">&nbsp;</span><span style="background-color:rgb(255, 255, 255)">Language)</span></span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif; font-size:17px !important"><span style="background-color:transparent; font-family:pt sans,arial,serif !important"><a href="http://english.iaau.edu.kg/" style="box-sizing: border-box; outline: none; border: 0px; margin: 0px; padding: 0px; text-decoration-line: none; color: rgb(85, 26, 139); vertical-align: baseline; background-color: transparent;" target="_blank">Philology</a></span><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:pt sans,arial,serif !important"><a href="http://english.iaau.edu.kg/" style="box-sizing: border-box; outline: none; border: 0px; margin: 0px; padding: 0px; text-decoration-line: none; color: rgb(85, 26, 139); vertical-align: baseline; background-color: transparent;" target="_blank">&nbsp;</a></span></span><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)"><a href="http://english.iaau.edu.kg/" style="text-decoration:none;">(English Language and Literature</a>)</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,500 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://psychology.iaau.edu.kg/" style="text-decoration:none;"><u>Psychology</u></a></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><a href="http://pedagogy.iaau.edu.kg/" style="text-decoration:none;"><u>Pedagogy</u></a></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><a href="http://journalism.iaau.edu.kg/" target="_blank"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">Journalism</span></span></span></a></h4>
			</td>
			<td style="vertical-align:top">
			<h4 style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">&nbsp; &nbsp; &nbsp; ENG</span></span></span>&nbsp; &nbsp; &nbsp; &nbsp;</h4>
			</td>
			<td style="vertical-align:top">
			<h4 style="text-align:center">&nbsp;<span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 style="text-align:center"><span style="font-family:arial,helvetica,sans-serif"><span style="font-size:16px"><span style="color:#000000">&nbsp;1,500 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif">2,700 $</span></span></span><br />
			&nbsp;</h4>
			</td>
		</tr>
	</tbody>
</table>
</div>

<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>&nbsp;</strong><strong>Faculty of Medicine </strong></span></span></h4>

<div dir="ltr" style="margin-left:-0.4pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Department</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Education Language</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens of &nbsp;the &nbsp;KG</span><strong> (Language Preparation School)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For the citizens &nbsp;of the KG(</span><strong>1,2,3,4,5,6th courses)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For foreigners</span><strong> (Language Preparation school)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">For foreigners</span><strong> (1,2,3,4,5,6th courses)</strong></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(29, 33, 41)">General Medicine</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">3,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2.700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">3,850 $</span></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(29, 33, 41)">Pediatrics</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">ENG</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">3,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,700 $</span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">3,850 $</span></span></span></h4>
			</td>
		</tr>
	</tbody>
</table>
</div>

<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>DLC(Distance Learning Center) Tuition fees for 2018-2019&nbsp;academic years</strong></span></span></h4>

<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>&nbsp;</strong><strong>Undergraduate &ndash; Bachelor(5 years)</strong></span></span></h4>

<div dir="ltr" style="margin-left:0pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>Department</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>For the citizens &nbsp;the KG(</strong><strong>(1,2,3,4,5th courses)</strong><strong>)</strong></span></span></h4>
			</td>
			<td style="background-color:#8db3e2; vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><strong>For foreigners(</strong><strong>(1,2,3,4,5th courses)</strong><strong>)</strong></span></span></h4>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:middle">
			<h4 dir="ltr"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">Management </span></span></span></h4>
			</td>
			<td style="vertical-align:middle">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">1,000 $</span></span></span></h4>
			</td>
			<td style="vertical-align:top">
			<h4 dir="ltr" style="text-align:center"><span style="font-size:16px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:transparent; color:rgb(0, 0, 0)">2,500 $</span></span></span></h4>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</div>
